[keyboard]
name = "Triple"
product_name = "Triple"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "morirain"
chip = "nrf52840"
# board = "nice!nano_v2"

[matrix]
# Row and col pins are mandatory
row_pins = ["P0_06", "P1_11", "P0_10", "P1_00"]
col_pins = ["P0_02", "P1_15", "P1_04", "P0_11", "P1_06"]
# RMK uses col2row as the default matrix diode direction, if you want to use a row2col matrix, add `row2col = true`
# row2col = true
# Debouncer mode: "default"(can be ignored) or "fast"
# debouncer = "fast"

[layout]
rows = 4
cols = 5
layers = 6
keymap = [
    [
        ["LT(5, Escape)", "Escape", "Q", "W", "Delete"],
        ["Tab", "A", "S", "D", "No"],
        ["LShift", "Z", "X", "C", "_"],
        ["LCtrl", "LAlt", "No", "Space", "_"]
    ],
    [
        ["_", "_", "_", "_", "_"],
        ["_", "_", "_", "_", "No"],
        ["_", "_", "_", "_", "_"],
        ["_", "_", "No", "_", "_"]
    ],
    [
        ["_", "_", "_", "_", "_"],
        ["_", "_", "_", "_", "No"],
        ["_", "_", "_", "_", "_"],
        ["_", "_", "No", "_", "_"]
    ],
    [
        ["_", "_", "_", "_", "_"],
        ["_", "_", "_", "_", "No"],
        ["_", "_", "_", "_", "_"],
        ["_", "_", "No", "_", "_"]
    ],
    [
        ["_", "_", "_", "_", "_"],
        ["_", "_", "_", "_", "No"],
        ["_", "_", "_", "_", "_"],
        ["_", "_", "No", "_", "_"]
    ],
    [
        ["_", "User0", "User1", "User2", "Bootloader"],
        ["_", "_", "_", "_", "No"],
        ["_", "_", "_", "_", "_"],
        ["_", "_", "No", "_", "_"]
    ],
]

[host]
unlock_keys = [[0, 0], [2, 4], [3, 4]]

[aliases]
my_copy = "WM(C, LCtrl)"
my_paste = "WM(V, LCtrl)"

[light]
# All light pins are high-active by default, uncomment if you want it to be low-active
# capslock.pin = "P0_30"
# capslock.low_active = false
# scrolllock.pin = "PA3"
# scrolllock.low_active = true
# Just ignore if no light pin is used for it
# numslock.pin = "PA5"
# numslock.low_active = true

# Encoder 0
[[input_device.encoder]]
pin_a = "P0_29"
pin_b = "P0_31"
internal_pullup = true
phase = "resolution"
resolution = 6
# Encoder 2
[[input_device.encoder]]
pin_a = "P0_20"
pin_b = "P0_17"
internal_pullup = true
phase = "resolution"
resolution = 6
reverse = true
# Encoder 3
[[input_device.encoder]]
pin_a = "P0_24"
pin_b = "P1_01"
internal_pullup = true
phase = "resolution"
resolution = 6
# Whether the direction of the rotary encoder is reversed.
reverse = true
# Whether to use the MCU's internal pull-up resistor, default to false
# Working mode of the encoder
# Available modes:
# - default: resolution = 1
# - resolution: custom resolution, requires specifying resolution and reverse parameters

# `resolution` represents the number of steps generated per detent.  
#
# When your encoder datasheet lists:
#   - detent = number of mechanical detent positions  
#   - pulse  = number of full quadrature cycles (A/B cycles)  
#
# Then the relationship is:
#   resolution = (pulse × 4) / detent
# because each full quadrature cycle (pulse) produces 4 edge transitions.
#
# For example — in the ALPS EC11E series(https://tech.alpsalpine.com/cms.media/product_catalog_ec_01_ec11e_en_611f078659.pdf):
#   detent = 30, pulse = 15 → resolution = (15 × 4) / 30 = 2


# [storage]
# Storage feature is enabled by default
# enabled = true
# Set `clear_storage` to true to clear all the stored info when the keyboard boots
# clear_storage = false
# clear_layout = false

[ble]
enabled = true
# vddh has an internal voltage divider
battery_adc_pin = "vddh"
# Or
# battery_adc_pin = "P0_04"
# adc_divider_measured = 2000
# adc_divider_total = 2806
default_tx_power = 7

[behavior.morse]
enable_flow_tap = true
prior_idle_time = "120ms"
hold_timeout = "150ms"
gap_timeout = "230ms"
# morses = [
#   { tap_actions = ["1", "2", "3", "4", "5"], hold_actions = ["No", "No", "No", "No", "No"] }
# ]

[behavior.combo]
timeout = "50ms"
combos = [
]

#[behavior.fork]
#forks = [
#]

[rmk]
combo_max_num = 12
fork_max_num = 8
debounce_time = 40
morse_max_num = 8
max_patterns_per_key = 8
# Mouse wheel interval (ms) - controls scrolling speed
mouse_wheel_interval = 40
